@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c1022;


}
.box
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin: 4px;
}
.box::before
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent, #e8169b);
    animation: animatie 4s linear infinite;
    animation-delay: -2s;
}
.box span
{
    position: absolute;
    inset: 5px;
    border-radius: 36px;
    background: #101114;
    z-index: 1;
}
.box h2{
    position: relative;
    z-index: 1;
    color: rgb(81, 49, 99);
    font-size: 5em;
}
@keyframes animatie
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.bad
{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin: 4px;
}
.bad::before
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}
.bad::after
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent, #e8169b);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

@keyframes animate
{
    100%
    {
        transform: rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}